# Ignore everything by default
*

# Allow the directory config/ and everything inside it
!config/
!config/**
!THIRD_PARTY_NOTICES.md

# Allow audit and documentation directories
!licenses/
!licenses/**
!tools/
!tools/**
!docs/
!docs/**

# Allow README.md
!README.md

# Allow .gitignore itself
!.gitignore

